

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200&family=Lobster&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
</head>

<style>
div.content{
  margin-left: 200px;
  padding: 70px 80px;
  height: 100%;
}
</style>

<body>

    <!--==========================
    Header
  ============================-->
<!-- header section starts -->
<%- include('../partials/navbar') %>

   
<div class="content">
  <div class="loginlabel"> <h1>CHANGE PASSWORD</h1> </div>
  <div class="main"> 
    
      
       <form method = "POST" action = "">
        
        <h2 class="labels">Email Id</h2> 
        <input id = "" type = "email" class = "inputfield" placeholder = "Email" name = "email" required >
        <button class = "button" type="submit" value="submit" >Send Link</button>
      </form>  
     
      </div>
    </div> 
    
</body>

</html>