* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    text-transform: capitalize;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    overflow-x: hidden;
  }
  
  #header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 4rem;
    z-index: 1000;
  }
  
  #header .fa-hamburger {
    font-size: 4rem;
    z-index: 10000;
    color: #f82249;
    cursor: pointer;
    display: none;
  }
  
  #header .logo img {
    height: 5rem;
  }
  
  #header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none;
  }
  
  #header nav ul li {
    margin-right: 4rem;
  }
  
  #header nav ul li a {
    color: #fff;
    font-size: 2rem;
  }
  
  #header nav ul li a:hover {
    color: #f82249;
    text-decoration: none;
  }
  
  .header-active {
    background: #333;
    height: 6rem;
    -webkit-box-shadow: .2rem 0 .5rem #000;
            box-shadow: .2rem 0 .5rem #000;
  }
  
  .header-active nav ul {
    margin: 0;
  }
  /*Home section*/
  #home {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    position: relative;
  }
  
  #home .content h1 {
    font-size: 5rem;
    font-family: sans-serif;
    font-weight: bolder;
    text-shadow: .1rem .1rem .3rem #333;
    color: #f82249;
  }
  
  #home .content h2 {
    font-size: 3.5rem;
    font-family: 'Lobster',sans-serif;
    font-weight: bolder;
    text-shadow: .1rem .1rem .3rem #333;
    color: #fff;
    margin: 1rem 0;
  }
  
  #home .content p {
    font-size: 1.6rem;
    color: #ccc;
  }
  
  #home .content button {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 6rem;
    width: 18rem;
    background: #fff;
  }
  
  #home .content button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #f82249;
    height: 100%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
  }
  
  #home .content button:hover::before {
    width: 100%;
  }
  
  #home .video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }
  
  #home .video-container .vid {
    position: absolute;
    height: 100vh;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: none;
  }
  
  #home .video-container .vid1 {
    display: block;
  }
  
  #home .controls {
    position: absolute;
    bottom: 14%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  #home .controls .dots {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    background: #f82249;
    margin: 0 1rem;
  }
  
  #home .controls .dots:hover {
    background: #fff;
  }
  
  #about {
    background: #000;
  }
  
  #about .heading h1 {
    font-size: 4rem;
    color: #000;
    padding-top: 7rem;
    margin-bottom: 2rem;
    color: #fff;
  }
  
  #about .heading h1 span {
    color: #f82249;
  }
  
  #about .heading p {
    color: #ccc;
    font-size: 2rem;
  }
  
  #hotel .heading h1 {
    font-size: 4rem;
    color: #000;
    padding-top: 7rem;
    margin-bottom: 2rem;
  }
  
  #hotel .heading h1 span {
    color: #f82249;
  }
  
  #hotel .content {
    margin: 5rem auto;
  }
  
  #hotel .content p {
    font-size: 2rem;
  }
  
  #hotel .content button {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 5rem;
    width: 20rem;
    background: #333;
    color: #fff;
  }
  
  #hotel .content button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #f82249;
    height: 100%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
  }
  
  #hotel .content button:hover::before {
    width: 100%;
  }
  
  #hotel .content button:hover {
    color: #333;
  }
  
  #hotel .image img {
    width: 30vw;
  }

  #developers {
    background: #000;
  }
  
  #developers .heading h1 {
    font-size: 4rem;
    color: #000;
    padding-top: 7rem;
    margin-bottom: 2rem;
    color: #fff;
  }
  
  #developers .heading h1 span {
    color: #f82249;
  }
  
  #developers .heading p {
    color: #ccc;
    font-size: 2rem;
  }

  #footer {
    background: #333;
  }
  
  #footer h1 {
    font-size: 2rem;
    margin: 0;
    padding: 2rem 0;
    text-align: center;
    color: #fff;
  }
  
  #footer h1 span {
    color: #f82249;
  }
  
  #footer .brand {
    text-align: center;
    margin-top: 2rem;
  }
  
  #footer .brand a .logo img {
    height: 4rem;
  }
  
  #footer .brand .icons a {
    font-size: 2rem;
    margin: 2rem 1rem;
    color: #fff;
  }
  
  #footer .brand .icons a:hover {
    color: #f82249;
  }
  
  #footer .footer-links {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 1rem 0;
  }
  
  #footer .footer-links h3 {
    font-size: 2.2rem;
    color: #f82249;
  }
  
  #footer .footer-links a {
    color: #fff;
    font-size: 1.7rem;
  }
  
  #footer .letter h2 {
    font-size: 2rem;
    margin: 2rem 0;
    color: #fff;
  }
  
  #footer .letter input[type="text"] {
    border: .2rem solid #fff;
    outline: none;
    background: none;
    height: 4rem;
    width: 22rem;
    padding: 0 1rem;
    font-size: 1.3rem;
    color: #fff;
  }
  
  #footer .letter input[type="submit"] {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 4rem;
    width: 12rem;
    margin: 1rem 0;
  }
  