
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200&family=Lobster&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
</head>

<style>
div.content{
  margin-left: 200px;
  padding: 70px 80px;
  height: 100%;
}
</style>

<body>

    <!--==========================
    Header
  ============================-->
<!-- header section starts -->
<%- include('../partials/manager_nav') %>

   
<div class="content">
  <div class="loginlabel"> <h1>CHANGE PASSWORD</h1> </div>
  <div class="main"> 
    
      
       <form method = "POST" action = "/change_password">
        <h2 class="labels">Old Password</h2> 
        <input id = "opassword" type = "password" class = "inputfield" placeholder = "Old Password" name = "oldPassword" required >
        <span style = "position: absolute"  class = "eye" onclick = "myfunction1()"><i style = "display:none" id = "hide1" class="fa fa-eye"></i><i  id = "hide2" class="fa fa-eye-slash"></i></span>
        <h2 class="labels">New Password</h2> 
        <input id = "npassword" type = "password" class = "inputfield" placeholder = "New Password" name = "newPassword" required >
        <span style = "position: absolute"  class = "eye" onclick = "myfunction2()"><i style = "display:none" id = "hide11" class="fa fa-eye"></i><i  id = "hide22" class="fa fa-eye-slash"></i></span>
        <h2 class="labels">Confirm Password</h2> 
        <input id = "cpassword" type = "password" class = "inputfield" placeholder = "Confirm Password" name = "cPassword" required >
        <span style = "position: absolute"  class = "eye" onclick = "myfunction3()"><i style = "display:none" id = "hide111" class="fa fa-eye"></i><i  id = "hide222" class="fa fa-eye-slash"></i></span>
        <button type = "submit" class = "button" >Change Password</button>
      </form>  
     
      </div>
    </div> 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
   
      function myfunction1(){
         var x = document.getElementById("opassword")
         var y = document.getElementById("hide1")
         var z = document.getElementById("hide2")
  
         if( x.type === 'password'){
             x.type = "text";
             y.style.display = "block";
             z.style.display = "none";
         }
  
         else{
             x.type = "password";
             y.style.display = "none";
             z.style.display = "block";
         }
      }
  </script>
  <script>
   
    function myfunction2(){
       var x = document.getElementById("npassword")
       var y = document.getElementById("hide11")
       var z = document.getElementById("hide22")

       if( x.type === 'password'){
           x.type = "text";
           y.style.display = "block";
           z.style.display = "none";
       }

       else{
           x.type = "password";
           y.style.display = "none";
           z.style.display = "block";
       }
    }
</script>
<script>
   
  function myfunction3(){
     var x = document.getElementById("cpassword")
     var y = document.getElementById("hide111")
     var z = document.getElementById("hide222")

     if( x.type === 'password'){
         x.type = "text";
         y.style.display = "block";
         z.style.display = "none";
     }

     else{
         x.type = "password";
         y.style.display = "none";
         z.style.display = "block";
     }
  }
</script>
</body>

</html>