   <% menus.forEach(function(menu) { %>
    <tr>
     <th scope="row"><%= menu.item %></th>
      <td><%= menu.price %></td>
      <td><%= menu.ingredients %></td>
      <td><%= menu.recipe %></td>
      <td>
  <% }) %>
