<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Atithi - pick a resturant</title>
        <link rel="stylesheet" href="/css/customers/u_hotel.css">
    </head>
    <body>
        <div class="header">
            <h1>Atithi</h1>
        </div>
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
            <input type="text" placeholder="Search..">
            <button>Search</button>
        </div>
        </br>
        
        <div id="list"></div>
        </br>
    </body>
    <script type="text/javascript" src="u_hotel.js"></script>
</html>